.cardWrapper {
  display: flex;
  gap: 2%;
  justify-content: center;
  flex-wrap: wrap;
}
.sectionTitle {
  text-align: center;
  color: black;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.6px; /* 144% */
  letter-spacing: -0.9px;
}
.sectionSubTitle {
  text-align: center;
  color: #5E6E89;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: 0.1px;
  margin-bottom: 3%;
  margin-top: 1%;
}
.sectionTopProducts {
  margin-top: 0;
  margin-bottom: 3%;
}
@media only screen and (max-width: 750px){
    .sectionSubTitle {
        font-size: 16px;
      }
      .sectionTitle {

        font-size: 28px;
      }
}