.cardContainer {
  width: 275px;
  height: 430px;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  position: relative;
  background-color: white;
  margin-bottom: 2%;
}
.discountRateContainer {
  background-color: #ffe1e1;
  width: 83px;
  height: 30px;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discountRate {
  color: #ff6666;
}
.image {
  max-width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.description {
  color: #5a5a5a;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
  width: 250px;
  word-wrap: break-word; 
}
.PricingPart {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.addToCartBtn {
  border: none;
  background-color: #b7cf33;
  font-size: 1.2rem;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  transition:  background-color 0.3s ease;
}

.addToCartBtn:hover { 
  background-color: #96b926;
}

.priceContainer{
    margin-left: 10px;
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
}

.originalPrice,
.discoutedPrice {
  display: inline-block;
  font-size: 1.5rem;
}

.originalPrice{
  position: relative;
}

.offerLine {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.discoutedPrice{
    color: #F66;
}
.productName {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px;
}

@media only screen and (max-width: 480px) {
  .cardContainer{
    width: 240px;
    height: 385px;
  }
  .priceContainer{
    width:40%
  }
  .image{
    height: 55%
  }
}