
.checkbox:checked {
  border: none;
  accent-color: rgb(79, 79, 79);
  opacity: .8;
  
}
.line{
    border: #7f7c7c solid 0.5px;
    width: 75%;
    margin: auto;
    margin-top: 25px;
}
.FilterSection {
  width: 20%;
  height: 100vh;
  background: rgb(182, 182, 182);
  border-radius: 10px;
  padding-bottom: 25px;
}
.titleCategory > span {
  color: #595959;
}

.checkContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0 10px;
}


.titleCategory {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 150px;
  margin-top: auto;
  padding-top: 100px;
}
.titleCategory > h1 {
  font-size: 1.2rem;
  font-weight: 400;
}
.categorie,.titlePrice {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 120px;
  justify-content: space-around;
}
.category {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.titlePrice{
  gap: 130px;
  padding-top: 25px;
}
.titlePrice > h1 {
  font-size: 1.2rem;
  font-weight: 400;
}