.productsContainer {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 150px 0 0 180px;

  }
  .addBtn{
    padding: 10px 30px;
    margin-bottom: 20px;
    width: 150px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .addBtn:hover{
    background-color: #a2b72c
  }
  .productsTable {
    width: 80%;
    height: 800px;
    overflow-y: scroll;
  }
  .btnsContainer {
    display: flex;
    gap: 15px;
  }
  .editBtn {
    padding: 10px 30px;
    width: 100px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .editBtn:hover {
    background-color:#a2b72c;
  
  }
  .deleteBtn {
    padding: 10px 30px;
    width: 100px;
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    color: white;
    border-radius: 3px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .deleteBtn:hover {
    background-color:#b72c2c;
  
  }
  .image{
    object-fit: contain;
  }

  @media only screen and (width<500px){
    .productsTable {
      width: 90%;
    }
    .productsContainer {
      margin: 150px auto 0 auto;
    
    }
  }
  