.footer {
  width: 100%;
  height: 383px;
  background-color: #272727;
  display: flex;
  gap: 80px;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.footer > ul {
  list-style: none;
}
.footer > ul > li {
  margin-bottom: 20px;
}
.footer > ul > li:first-child {
  color: #b7cf33;
}
.parag {
  width: 256px;
}
.sentMessage {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.message {
  display: flex;
  gap: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.firstInput,
.secondInput {
  width: 200px;
  height: 34px;
  border: none;
  padding-left: 10px;
  background: rgba(217, 217, 217, 0.9);
  border-radius: 5px;
  outline: none;
}

.secondInput {
  height: 80px;
}

.form > button {
  background: #b7cf33;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: 0.2s ease-in-out;
}
.form > button:hover {
  color: #b7cf33;
  border: #b7cf33 1px solid;
  background: white;
  cursor: pointer;
}
@media (max-width: 1220px) {
  .footer {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    gap: 80px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    gap: 80px;
    color: white;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 414px) {
  .footer {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    gap: 53px;
    color: white;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-content: space-around;
  }
}
@media (max-width: 375px) {
  .footer {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    gap: 18px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }
}

@media (max-width: 360px) {
  .footer {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    gap: 12px;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }
}
