.testimonialSection {
  height: 680px;
  width: 100%;
  background: rgba(183, 207, 51, 0.1);
  padding: 5%;
}
.title {
  color: black;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -0.9px;
  padding-bottom: 20px;
}
.text {
  color: #5e6e89;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: 0.1px;
  margin-bottom: 3%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

@media only screen and (max-width: 400px) {
  .testimonialSection {
    height: 440px;
  }
  .title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
  }
  .text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    padding-bottom: 20px;
  }
}
