.quantityWrapper{
  display: flex;
  gap: 10px;
  align-items: center;
  gap: 20px;
}
.overviewContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 100px;
}
.image {
  width: 100%;
  min-width: 350px;
}
.productOverview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  height: 100%;
  width: 100%;
  gap: 30px;
}
.productName {
  font-size: 36px;
  font-weight: 400;
}
.productPrice {
  font-size: 24px;
  color: var(--secondary-color);
}
.availability {
  display: flex;
  gap: 10px;
}
.inStock {
  display: flex;
  align-items: center;
  color: green;
}
.outOfStock {
  display: flex;
  align-items: center;
  color: red;
}
.description {
  line-height: 1.3;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 25px;
  word-break: break-all;
}
.description > span {
  color: gray;
}
.sizeContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sizeWrapper {
  display: flex;
  gap: 20px;
  margin: 0 20px;
}
.size {
  background-color: #fcfcfc;
  border: 1px solid rgba(0, 0, 0, 0.192);
  padding: 5px 20px;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
}
.activeSize {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  transition: all 0.3s ease;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantityControl {
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.192);
  gap: 15px;
  padding: 5px 0;
  background-color: #eee;
  user-select: none;
}
.decrease,
.increase {
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
}
.decrease {
  border-right: 1px solid #bdbdbd;
  color: var(--secondary-color);
}
.increase {
  border-left: 1px solid #bdbdbd;
  color: green;
}
.disabledControl {
  color: gray;
  pointer-events: none;
}
.addToCartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  padding: 10px 30px;
  width: 250px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.addToCartBtn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
  background-color: transparent;
}
.removeFromCart {
  background-color: var(--secondary-color);
}
.cartIcon {
  margin-right: 5px;
}
.stockIndicator {
  color: red;
}
.offer{
  display: flex;
  gap: 15px;
}
.strokedPrice{
  text-decoration: line-through;
  color: red;
}
@media (max-width: 1160px) {
  .overviewContainer {
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .overviewContainer {
    gap: 30px;
  }
  .image {
    min-width: auto;
  }
  .productOverview {
    gap: 15px;
    padding-bottom: 25px;
  }
  .description {
    font-size: 14px;
    padding: 10px 0;
  }
}
@media screen and (max-width: 425px) {
  .overviewContainer {
    flex-direction: column;
  }

  .addToCartBtn {
    align-self: center;
  }
}
